{% extends "_base.html" %}

{% block content %}
	<h1>Fuck off as a Service</h1>

	<h2>Introduction</h2>
	<p>
		Fuck off as a Service is a website for solving your everyday problem - How to tell people to fuck off.
	</p>
	<h2>How to use it?</h2>
	<p>
		You just type in a proper URL, and everything is done for you!<br>
		Here is a list of possible URLs, see for yourself what each does.
		<ul>
            {% for name in doubles %}
                <li><a href="{{ url_for('give_a_fuck', form_name=name, person_to="TO", person_from="FROM") }}">{{ url_for('give_a_fuck', form_name=name, person_to="_TO_", person_from="_FROM_") }}</a></li>
            {% endfor %}
            {% for name in singles %}
                <li><a href="{{ url_for('give_a_fuck', form_name=name, person_from="FROM") }}">{{ url_for('give_a_fuck', form_name=name, person_from="_FROM_") }}</a></li>
            {% endfor %}
		</ul>
	</p>
	<br>
	<h2>Stats</h2>
	<p>
		You can view statistics about who gives the most fucks, and who receives them here:<br>
		<a href="{{ url_for('stats') }}">Click here for stats!</a>
	</p><br>
	<h2>Credits</h2>
	<p>
		This is not my idea. It is based on fooas by <a href="https://github.com/xenph/foaas">Tom Dionysus</a><br>
		This port was made by <a href="https://github.com/MichalPodeszwa/Fuck-service">Michał Podeszwa</a>
	</p>


{% endblock %}